---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I have been a tutor and the lead tutor for the Department of Statistics at the University of Washington. Also, I have been a teaching assistant for the following classes: 
- STAT 340: Introduction to Probability and Mathematical Statistics I
- STAT 221: Statistical Concepts and Methods for the Social Sciences
- STAT 529: Sampling Survey Techniques 
- STAT 535: Statistical Learning: Modeling, Prediction, and Computing
- STAT 341: Introduction to Probability and Mathematical Statistics II
- STAT 391: Quantitative Introductory Statistics for Data Science

I have also led the Directed Reading Program, during which I mentored an undergraduate student on topics in statistics. See below for a description of what we did. 

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
